* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: #444;
}

img {
   width: 100%;
}

button {
   cursor: pointer;
}

.main-wrap {
   width: 100%;
   padding: 3vw 20vw;
}

li {
   list-style: none;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header a {
   font-size: 0.95rem;
}

.header-img {
   width: 5vw;
}

header ul {
   display: flex;
   justify-content: space-between;
   width: 30vw;
}

header .sub_menu {
   display: flex;
   justify-content: space-between;
}

header li {
   width: 6vw;
   height: auto;
   text-align: center;
   padding: 0.5vw 0;
   border-radius: 50px;
   font-weight: 500;
   cursor: pointer;
}

header li a {
   display: block;
   width: 100%;
   height: 100%;
}

header .sub-li {
   background-color: #BDE8F5;
}

header .sub-li a {
   color: #444;
}

header .member-li {
   border: 2px solid #4988C4;
   background-color: white;
}

header .member-li a {
   color: #333;
}

header .main-menu {
   background-color: #fff;
   padding: 10px;
   border-radius: 30px;
   border: 1px solid #ddd; 
}

footer {
   width: 100%;
   height: 10vw;
   display: flex;
   background-color: #F9F8F6;
   padding: 0 20vw;
   bottom: 0;
   border-top: 1px solid #CBCBCB;
}

footer .contact_info {
   font-size: 0.8rem;
   color: #666;
}

footer .contact_info .footer_img {
   width: 4vw;
   margin-bottom: 0.8vw;
}

footer .footer_div {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

footer .notice_menu {
   width: 20vw;
   font-weight: 500;
}

footer .notice_menu ul {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

footer .notice_menu ul li a {
   font-size: 0.9rem;
}

.title_wrap {
   margin: 7vw 0;
}

.login_wrap {
   display: flex;
   align-items: center;
   flex-flow: column;
}

.login_wrap .logo_img {
   width: 9vw;;
}

.login_wrap h2 {
   margin: 1vw 0 3vw 0;
}

.login_wrap .login_div {
   display: flex;
   flex-flow: column;
}

.login_wrap .login_div input {
   width: 18vw;
   height: 2vw;
   padding-left: 1vw;
   margin-bottom: 0.5vw;
   border: 1px solid #ccc;
}

.error-message {
   font-size: 0.85rem;
   color: #FF0000 !important;
   margin-bottom: 5px;
   display: block;
}

.success-message {
   font-size: 0.85rem;
   color: #0E8388 !important;
   margin-bottom: 5px;
   display: block;
}

.login_wrap .pwd_btn {
   text-align: right;
   font-size: 0.8rem;
   color: #333;
   text-decoration: underline;
   text-underline-offset: 4px;
}

.login_wrap .btn_div {
   display: flex;
   justify-content: center;
   width: 100%;
   margin: 2vw 0;
}

.login_wrap .btn_div .login-btn {
   width: 100%;
   display: block;
   background-color: #222;
   color: #fff;
   height: 2.8vw;
   border-radius: 30px;
   font-size: 1.1rem;
   cursor: pointer;
}

.login_wrap .login_search {
   width: 10vw;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   font-size: 0.9rem;
}

.login_wrap span {
   color: #999;
}

.login_wrap .search_btn {
   text-decoration: underline;
   text-underline-offset: 4px;
}

.join_wrap {
   display: flex;
   flex-flow: column;
   align-items: center;
}

.join_wrap h2 {
   margin-bottom: 3vw;
}

.join_wrap .essential_txt {
   width: 100%;
   text-align: right;
   font-size: 0.75rem;
}

.join_wrap b {
   color: #FF0000;
   margin: 0 5px;
}

.join_wrap hr {
   width: 100%;
   height: 3px;
   background-color: #222;
   margin: 0.5vw 0 2vw;
}

.join_wrap form {
   width: 55vw;
}

.join_wrap .join_input {
   display: grid;
   grid-template-columns: 0.5fr 2fr 0.5fr;
   width: 100%;
   margin-bottom: 1vw;
   align-items: center;
}

.join_wrap .join_input .input_wrap input {
   width: 30vw;
   height: 2vw;
   padding-left: 1vw;
   border: 1px solid #ccc;
}

.join_wrap .join_input .email_wrap input {
   width: 10vw;
   height: 2vw;
   padding-left: 1vw;
   border: 1px solid #ccc;
}

.join_wrap .join_input .email_wrap select {
   width: 8vw;
   margin-left: 1vw;
   height: 2vw;
   border: 1px solid #ccc;
   padding-left: 1vw;
}

.join_wrap .join_input button {
   height: 2vw;
   background-color: #4988C4;
   color: #fff;
   border: none;
   cursor: pointer;
}

.join_wrap .join_input button:disabled {
   background-color: #547792;
   color: #ddd;
}

.join_wrap .btn-div {
   display: flex;
   justify-content: center;
   margin-top: 8vw;
}

.join_wrap .btn-div button {
   height: 2.5vw;
   font-size: 1.1rem;
   border: none;
   border-radius: 5px;
}

.join_wrap .btn-div .submit-btn  {
   width: 10vw;
   margin-right: 2vw;
   background-color: #4988C4;
   color: #fff;
}

.join_wrap .btn-div .cancel-btn {
   width: 7vw;
}