@font-face {
    font-family: 'NexonLv1Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv1Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv1Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'NexonLv1Gothic';
}

a {
   text-decoration: none;
   color: #444;
}

img {
   width: 100%;
}

button {
   cursor: pointer;
}

.main-wrap {
   width: 100%;
   padding: 3vw 20vw;
}

li {
   list-style: none;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header a {
   font-size: 0.95rem;
}

.header-img {
   width: 5vw;
}

header ul {
   display: flex;
   justify-content: space-between;
   width: 30vw;
}

header .sub_menu {
   display: flex;
   justify-content: space-between;
}

header li {
   width: 6vw;
   height: auto;
   text-align: center;
   padding: 0.5vw 0;
   border-radius: 50px;
   font-weight: 500;
   cursor: pointer;
}

header li a {
   display: block;
   width: 100%;
   height: 100%;
}

header .sub-li {
   background-color: #BDE8F5;
   border: 2px solid #BDE8F5;
}

header .sub-li a {
   color: #444;
}

header .member-li {
   border: 2px solid #4988C4;
   background-color: white;
}

header .member-li a {
   color: #333;
}

header .main-menu {
   background-color: #fff;
   padding: 10px;
   border-radius: 30px;
   border: 1px solid #ddd; 
}

header .header_wrap {
   position: relative;
}

header .welcome_txt {
   position: absolute;
   top: -1.5vw;
   font-size: 0.9rem;
   right: 0;
}

header .welcome_txt i {
   color: #4988C4;
}

footer {
   width: 100%;
   height: 10vw;
   display: flex;
   background-color: #F9F8F6;
   padding: 0 20vw;
   bottom: 0;
   border-top: 1px solid #CBCBCB;
}

footer .contact_info {
   font-size: 0.8rem;
   color: #666;
}

footer .contact_info .footer_img {
   width: 4vw;
   margin-bottom: 0.8vw;
}

footer .footer_div {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

footer .notice_menu {
   width: 20vw;
   font-weight: 500;
}

footer .notice_menu ul {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

footer .notice_menu ul li a {
   font-size: 0.9rem;
}

.title_wrap {
   margin: 7vw 0;
}

.login_wrap {
   display: flex;
   align-items: center;
   flex-flow: column;
}

.login_wrap .logo_img {
   width: 9vw;;
}

.login_wrap h2 {
   margin: 1vw 0 3vw 0;
}

.login_wrap .login_div {
   display: flex;
   flex-flow: column;
}

.login_wrap .login_div input {
   width: 18vw;
   height: 2vw;
   padding-left: 1vw;
   margin-bottom: 0.5vw;
   border: 1px solid #ccc;
}

.error-message {
   font-size: 0.85rem;
   color: #FF0000 !important;
   margin-bottom: 5px;
   display: block;
}

.success-message {
   font-size: 0.85rem;
   color: #0E8388 !important;
   margin-bottom: 5px;
   display: block;
}

.login_wrap .pwd_btn {
   text-align: right;
   font-size: 0.8rem;
   color: #333;
   text-decoration: underline;
   text-underline-offset: 4px;
}

.login_wrap .btn_div {
   display: flex;
   justify-content: center;
   width: 100%;
   margin: 2vw 0;
}

.login_wrap .btn_div .login-btn {
   width: 100%;
   display: block;
   background-color: #222;
   color: #fff;
   height: 2.8vw;
   border-radius: 30px;
   font-size: 1.1rem;
   cursor: pointer;
}

.login_wrap .login_search {
   width: 10vw;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   font-size: 0.9rem;
}

.login_wrap span {
   color: #999;
}

.login_wrap .search_btn {
   text-decoration: underline;
   text-underline-offset: 4px;
}

.join_wrap {
   display: flex;
   flex-flow: column;
   align-items: center;
}

.join_wrap h2 {
   margin-bottom: 3vw;
}

.join_wrap .essential_txt {
   width: 100%;
   text-align: right;
   font-size: 0.75rem;
}

.join_wrap b {
   color: #FF0000;
   margin: 0 5px;
}

hr {
   width: 100%;
   height: 3px;
   background-color: #222;
   margin: 0.5vw 0 2vw;
}

.join_wrap form {
   width: 55vw;
}

.join_wrap .join_input {
   display: grid;
   grid-template-columns: 0.5fr 2fr 0.5fr;
   width: 100%;
   margin-bottom: 1vw;
   align-items: center;
}

.join_wrap .join_input .input_wrap input {
   width: 30vw;
   height: 2vw;
   padding-left: 1vw;
   border: 1px solid #ccc;
}

.join_wrap .join_input .email_wrap input {
   width: 10vw;
   height: 2vw;
   padding-left: 1vw;
   border: 1px solid #ccc;
}

.join_wrap .join_input .email_wrap select {
   width: 8vw;
   margin-left: 1vw;
   height: 2vw;
   border: 1px solid #ccc;
   padding-left: 1vw;
}

.join_wrap .join_input button {
   height: 2vw;
   background-color: #4988C4;
   color: #fff;
   border: none;
   cursor: pointer;
}

.join_wrap .join_input button:disabled {
   background-color: #547792;
   color: #ddd;
}

.join_wrap .btn-div {
   display: flex;
   justify-content: center;
   margin-top: 8vw;
}

.join_wrap .btn-div button {
   height: 2.5vw;
   font-size: 1.1rem;
   border: none;
   border-radius: 5px;
}

.join_wrap .btn-div .submit-btn  {
   width: 10vw;
   margin-right: 2vw;
   background-color: #4988C4;
   color: #fff;
}

.join_wrap .btn-div .cancel-btn {
   width: 7vw;
}

.id_search_form {
   display: flex;
   flex-flow: column;
   align-items: center;
}

.id_search_form h2 {
   margin-bottom: 2vw;
}

.id_search_form form {
   width: 40vw;
   margin-top: 1vw;
}

.id_search_form .input_wrap, .id_search_form .email_wrap {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1vw;
}

.id_search_form .input_wrap input, .id_search_form .email_wrap input {
   height: 2vw;
   border: 1px solid #ccc;
}

.id_search_form .input_wrap input {
   width: 80%;
   padding-left: 1vw;
}

.id_search_form .email_wrap input {
   width: 10vw;
   padding-left: 1vw;
   margin-right: 5px;
}

.id_search_form .email_wrap input:nth-child(2) {
   margin-left: 5px;;
}

.id_search_form .email_wrap select {
   width: 10vw;
   display: block;
   margin-left: 5px;
   padding-left: 1vw;
   border: 1px solid #ccc;
}

.id_search_form .email_wrap .email_select {
   display: flex;
}

.id_search_form .join_input button {
   height: 2vw;
   background-color: #4988C4;
   color: #fff;
   border: none;
   cursor: pointer;
}

.id_search_form .join_input button:disabled {
   background-color: #547792;
   color: #ddd;
}

.id_search_form .btn-div {
   display: flex;
   justify-content: center;
   margin-top: 6vw;
}

.id_search_form .btn-div button {
   height: 2.5vw;
   font-size: 1.1rem;
   border: none;
   border-radius: 5px;
}

.id_search_form .btn-div .submit_btn  {
   width: 10vw;
   margin-right: 2vw;
   background-color: #4988C4;
   color: #fff;
}

.id_search_form .cancel-btn {
   width: 7vw;
}

.id_result {
   display: flex;
   align-items: center;
   flex-flow: column;
   height: 20vw;
   justify-content: center;
   text-align: center;
}

.id_result .result_div {
   width: 100%;
}

.id_result .result_div h2 {
   font-size: 1.8rem;
   margin-bottom: 1vw;
}

.id_result .result_div p {
   font-size: 1.2rem;
   margin: 5vw 0;
}

.id_result .result_div button {
   width: 10vw;
   background-color: #4988C4;
   color: #fff;
   height: 2.5vw;
   font-size: 1.1rem;
   border: none;
   border-radius: 5px;
}

.mypage_wrap {
   text-align: center;
}

.mypage_wrap h2 {
   margin: 3vw 0 !important;
}

.mypage_wrap form table {
   width: 100%;
   border: 1px solid #ddd;
   border-collapse: collapse;
   font-size: 0.8rem;
   margin-top: 5vw;
}

.mypage_wrap form table tr, .mypage_wrap form table td {
   padding: 1vw 0;
   border: 1px solid #ddd;
}

.mypage_wrap form table td:nth-child(1) {
   background-color: #eee;
}


.mypage_wrap table input {
   width: 50%;
   height: 1.8vw;
   padding-left: 1vw;
   border: 1px solid #ccc;
}

.mypage_wrap table .email_td input {
   width: 20% !important;
}

.mypage_wrap table .email_td select {
   width: 15%;
   height: 2vw;
   margin-left: 1vw;
   padding-left: 1vw;
   border: 1px solid #ccc;
}

.mypage_wrap table button {
   height: 2vw;
   width: 10vw;
   background-color: #4988C4;
   color: #fff;
   border: none;
   cursor: pointer;
   margin-left: 1vw;
}

.mypage_wrap table button:disabled {
   background-color: #547792;
   color: #ddd;
}

.mypage_wrap .submit-btn {
   margin-left: 0 !important;
}

.mypage_wrap .btn-div button {
   height: 2.5vw;
   width: 15vw;
   background-color: #4988C4;
   color: #fff;
   border: none;
   cursor: pointer;
   margin-left: 1vw;
   margin-top: 5vw;
   font-size: 1.1rem;
}